<div class="messagecontainer">
  <% if user_is_messages_author %>
    <div class="message messfirst">
      <div class="my-avatar" style="background-image: url(<%= message.user.photo %>)">
      </div>
      <p class="message-body my-message"><%= message.body %></p>
    </div>
    <p class="my-time"><%= message.message_time %></p>
  <% else %>
    <div class="message messsecond">
      <div class="not-my-avatar" style="background-image: url(<%= message.user.photo %>)"></div>
      <p class="message-body"><%= message.body %></p>
    </div>
    <p class="message-time"><%= message.message_time %></p>
  <% end %>
</div>
