<div class="background" style="background-color: #6ed2ff;
    background-image: linear-gradient(540deg, rgb(255, 255, 255) 24%, rgba(255, 255, 255, 0.54)), url(https://res.cloudinary.com/dsolsmeep/image/upload/v1544091706/dakota.jpg);">

  <div class="profile-content">
    <!-- start of tabs -->
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item active">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Calendar</a>
      </li>
      <!-- Checking if match has been assigned -->
      <% if @match.blank? %>
      <!-- if no -->
      <% else %>
        <li class="nav-item" id="got-mate">
          <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">My Mate</a>
        </li>
      <% end %>
      <!-- end of if-clause -->
      <% if current_user.role == "coordinator" %>
        <li class="nav-item">
          <a class="nav-link" id="driver-tab" data-toggle="tab" href="#driver" role="tab" aria-controls="driver" aria-selected="false">Driver</a>
        </li>
      <% end %>
    </ul>
    <!-- end of tabs -->
    <div class="tab-content" id="myTabContent">


      <div class="tab-pane fade active in " id="home" role="tabpanel" aria-labelledby="home-tab">
        <h1 class="title-profile">Follow These Steps!</h1>
        <%= render 'shared/dashboard', user: current_user %>
      </div>

      <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <h1 class="title-profile">Calendar</h1>
        <%= render 'events/index' %>
      </div>

      <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
        <% if current_user.role.present? %>
          <% if current_user.role == "buddy" %>
            <% if !Match.find_by(buddy_id: current_user.id).nil? %>
              <%= render 'shared/match_profile', user: Match.find_by(buddy_id: current_user.id).patient, conversation: @conversation, conversations: @conversations %>
            <% end %>
          <% elsif !Match.find_by(patient_id: current_user.id).nil? %>
            <%= render 'shared/match_profile', user: Match.find_by(patient_id: current_user.id).buddy %>
          <% end %>
        <% end %>
      </div>
      <div class="tab-pane fade" id="driver" role="tabpanel" aria-labelledby="driver-tab">
        <%= render 'shared/matches', matches: Match.where(coordinator_id: current_user.id) %>
        <%= link_to 'Create match', new_match_path, remote: true, class: "next-button" %>
        <div id="createMatch"></div>
        <%= link_to 'Create event', new_event_path, remote: true, class: "next-button", id: "create-event"%>
        <div id="createEvent"></div>
        <%= render "events/form" %>
      </div>
    </div>
  </div>

  <div id="chat" class="chat-closed">
    <%= render  'shared/conversation', conversations: @conversations, users: @users %>
  </div>
  <script type="text/javascript">
    $(document).ready(function () {
      if(window.location.href.indexOf("trigger") > -1) {
       console.log("your url contains trigger");
       $("#greeting-modal").html("<%= j render "greeting_modal"%>");
       $('#greetingModal').modal('show');
       window.history.pushState({}, document.title, "/" + "my_profile");
     }
   });
  </script>
  <div id="greeting-modal"></div>
</div>
