<div class="chat-window chat-window-closed">
  <div class="quit-chat quit-chat-closed">
    Chat
  </div>
  <div id="test" class="test-id-closed">
    <div class="chat-header">
      <h2 class="conv-head">Conversations</h2>
    </div>
    <div class="list-wrapper">
      <div class="ui list">
        <div class="list-item">
          <% conversations_array = [] %>
          <% if @conversations.present? %>
            <% @conversations.each do |conversation| %>
              <% if conversation.sender_id == current_user.id || conversation.recipient_id == current_user.id %>
                <% if conversation.sender_id == current_user.id %>
                  <% recipient = User.find(conversation.recipient_id) %>
                <% else %>
                  <% recipient = User.find(conversation.sender_id) %>
                <% end %>
                <div class="item">
                  <div class="convo-avatar"style=" background-image: url(<%= recipient.photo %>);">
                  </div>
                  <% full_name = "#{recipient.first_name} #{recipient.last_name}" %>
                  <% conversations_array.push(recipient.id) %>
                  <%= link_to full_name, conversation, remote: true %>
                </div>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="conversation-segment">
        <div class="ui list">
          <div class="list-item">
            <% @users.each do |user| %>
              <% if conversations_array == [] %>
                <% if user.id != current_user.id %>
                  <div class="item">
                    <div class="convo-avatar"style=" background-image: url(<%= user.photo %>);">
                    </div>
                    <% user_full_name = "#{user.first_name} #{user.last_name}" %>
                    <%= link_to user_full_name, conversations_path(sender_id: current_user.id, recipient_id: user.id), method: 'post', remote: true %>
                  </div>
                <% end %>
              <% else %>
                <% if user.id != current_user.id && !conversations_array.include?(user.id)%>
                  <div class="item">
                    <div class="convo-avatar"style=" background-image: url(<%= user.photo %>);">
                    </div>
                    <% user_full_name = "#{user.first_name} #{user.last_name}" %>
                    <%= link_to user_full_name, conversations_path(sender_id: current_user.id, recipient_id: user.id), method: 'post', remote: true %>
                  </div>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% if !@conversation.nil? %>
  <% content_for :after_js do %>
    <script>
      scrollLastMessageIntoView();
      App['conversation_<%= @conversation.id %>'] = App.cable.subscriptions.create(
        { channel: 'ConversationsChannel', conversation_id: <%= @conversation.id %> },
        {
          received: (data) => {
            if (data.current_user_id !== <%= current_user.id %>) {
              messagesContainer = document.querySelector('#messages');
              messagesContainer.insertAdjacentHTML('beforeend', data.message_partial);
              scrollLastMessageIntoView();
            }
          }
        })
    </script>
  <% end %>
<% end %>

