<div class="dashboard-message completed">
  <%= image_tag "https://res.cloudinary.com/dsolsmeep/image/upload/v1544040244/icon-donate.png", alt: "alttext", class: "dashboard-avatar-large" %>
  <div class="dashboard-message-body">
    <p><strong>Sign Up to HerzCaspar</strong></p>
  </div>
</div>
<div class="dashboard-message <%= 'completed' if @user_got_interests == true %>">
  <%= image_tag "https://res.cloudinary.com/dsolsmeep/image/upload/v1544040183/register-icon.png", alt: "alttext", class: "dashboard-avatar-large" %>
  <div class="dashboard-message-body">
    <p><strong>Tell Us More About You</strong></p>
  </div>
</div>
<div class="dashboard-message <%= 'completed' if @user_attend_event == true %>">
  <%= image_tag "https://res.cloudinary.com/dsolsmeep/image/upload/v1544040216/calendar-clock-icon-white.png", alt: "alttext", class: "dashboard-avatar-large" %>
  <div class="dashboard-message-body">
    <p><strong>Attend Your First Event</strong></p>
  </div>
</div>
<div class="dashboard-message <%= 'completed' if @user_has_mate == true %>">
  <%= image_tag "https://res.cloudinary.com/dsolsmeep/image/upload/v1544040235/hug.png", alt: "alttext", class: "dashboard-avatar-large" %>
  <div class="dashboard-message-body">
    <p><strong>Find a Mate</strong></p>
  </div>
</div>
<div class="dashboard-message">
  <%= image_tag "https://res.cloudinary.com/dsolsmeep/image/upload/v1544040188/icon_contract_service.png", alt: "alttext", class: "dashboard-avatar-large" %>
  <div class="dashboard-message-body">
    <p><strong>Meet Your Mate</strong></p>
  </div>
</div>
