<div class="card-container">
  <div class="profile text-center">
    <div class="main">
      <div class="main-content">
        <% if user.photo.present? %>
          <%= image_tag user.photo.url(:bright_face), class: "avatar" %>
        <% else %>
          <div class="avatar-placeholder-navbar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown">
            <h1>
              <%= user.email.first.upcase %>
            </h1>
          </div>
        <% end %>
        <h2 class="profile-info"><%= user.first_name %> <%= user.last_name %></h2>
        <p class="profile-info"><i class="fas fa-envelope"></i> <%= user.email %></p>
        <p class="profile-info"><i class="fas fa-birthday-cake"></i> <%= user.date_of_birth.strftime("%d-%m-%y") %></p>
        <p class="profile-info"><i class="fas fa-user-friends"></i> since <%=user.created_at.strftime("%d-%m-%y") %></p>
        <a href="mailto:<%= user.email%>?subject=Greeting from your HerzCaspar buddy <%=current_user.first_name%>" class="next-button">Get in touch</a>
      </div>
    </div>
    <% user.interests.each do |interest| %>
      <div class="card" style="background-image: linear-gradient(174deg, transparent 0%, rgba(0, 0, 0, 0.43) 60%), url(<%=image_path(interest.photo)%>); background-size: cover;  opacity: 0.85;">

        <div class="card-content">
          <h3><b><font color="white"><%= interest.area %></font></b></h3>
          <p><font color="white"><%= interest.variant %></font></p>
        </div>
      </div>
    <% end %>
    <div class="description">
      <div class="description-content">
        <h3>More about <%= user.first_name %> <%= user.last_name %></h3>
        <p class="text-justify">
          <%= user.bio %>
        </p>
      </div>
    </div>
  </div>
</div>
