<div class="chat-window">
  <div class="chatnavigation">
    <div class="back-arrow">
      <%= link_to ('<i class="fas fa-arrow-left"></i>').html_safe, conversations_path, remote: true  %>
    </div>
    <div class="quit-chat">
      x
    </div>
  </div>
  <div id="test">
    <div class="chat-header">
      <% if conversation.sender_id == current_user.id %>
        <% u = User.find(conversation.recipient_id) %>
        <% if u.photo.url.present? %>
          <%= image_tag u.photo.url(:bright_face), class: 'chat-avatar'%>
        <% end %>
        <h2><%= User.find(conversation.recipient_id).first_name%></h2>
      <% else %>
        <% u = User.find(conversation.sender_id) %>
        <% if u.photo.url.present? %>
          <%= image_tag u.photo.url(:bright_face), class: 'chat-avatar'%>
        <% end %>
        <h2 class="conv-head"><%= User.find(conversation.sender_id).first_name %></h2>
      <% end %>
    </div>
    <div class="messages-wrapper">
      <div class="chat-messages">
        <div id="messages">
          <% messages.each do |mess| %>
            <% if mess.body %>
              <% user = User.find(mess.user_id) %>
              <div class="messagecontainer">
                <% if mess.user_id == current_user.id %>
                  <div class="messfirst">
                    <div class="my-avatar" style="background-image: url(<%= mess.user.photo %>)">
                    </div>
                    <p class="message-body my-message"><%= mess.body %></p>
                  </div>
                  <p class="my-time"><%= mess.message_time %></p>
                <% else %>
                  <div class="messsecond">
                    <div class="not-my-avatar" style="background-image: url(<%= mess.user.photo %>)"></div>
                    <p class="message-body"><%= mess.body %></p>
                  </div>
                  <p class="message-time"><%= mess.message_time %></p>
                <% end %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
      <div id="chat-input">
        <%= simple_form_for([conversation, message], remote: true) do |f| %>
          <%= f.text_field :body, class: "input-message" %>
          <%= f.text_field :user_id, value: current_user.id, type: "hidden"%>
          <%= f.submit value: "Send", class: "send-button" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
