<div class="chat-window">
  <div class="quit-chat">
    x
  </div>
  <div class="back-arrow">
    <%= link_to ('<i class="fas fa-arrow-left"></i>').html_safe, conversations_path, remote: true  %>
  </div>
  <div id="test">
    <div class="chat-header">
      <% if conversation.sender_id == current_user.id %>
        <%= image_tag User.find(conversation.recipient_id).photo.url(:bright_face), class: 'chat-avatar'%>
        <h2><%= User.find(conversation.recipient_id).first_name%></h2>
      <% else %>
        <%= image_tag User.find(conversation.sender_id).photo.url(:bright_face), class: 'chat-avatar'%>
        <h2 class="conv-head"><%= User.find(conversation.sender_id).first_name %></h2>
      <% end %>
    </div>
    <div class="messages-wrapper">
      <div class="chat-messages">
        <div id="messages">
          <% messages.each do |mess| %>
            <% if mess.body %>
              <% user = User.find(mess.user_id) %>
              <% if mess.user_id == current_user.id %>
                <p class="message-body my-message"><%= mess.body %></p>
                <p class="message-time my-message"><%= mess.message_time %></p>
              <% else %>
                <p class="message-body"><%= mess.body %></p>
                <p class="message-time"><%= mess.message_time %></p>
              <% end %>

            <% end %>
          <% end %>
        </div>
      </div>
      <div id="chat-input">
        <%= simple_form_for([conversation, message], remote: true) do |f| %>
          <%= f.text_field :body %>
          <%= f.text_field :user_id, value: current_user.id, type: "hidden"%>
          <%= f.submit value: "Send" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
