<div class="card-container">
    <div class="profile text-center">
      <div class="main">
        <div class="main-content">
          <h2><%= current_user.first_name %> <%= current_user.last_name %></h2>
          <a href="#" class="btn btn-primary btn-lg">Get in touch</a>
        </div>
      </div>
      <div class="card">
        <div class="card-content">
          <h3><%= Interest %></h3>
          <p>Interest-detail</p>
        </div>
      </div>
      <div class="card">
        <div class="card-content">
          <h3>Interest</h3>
          <p>Interest-detail</p>
        </div>
      </div>
      <div class="card">
        <div class="card-content">
          <h3>Interest</h3>
          <p>Interest-detail</p>
        </div>
      </div>
      <div class="description">
        <div class="description-content">
          <h3>More about <%= current_user.first_name %> <%= current_user.last_name %></h3>
          <p class="text-justify">
            <%= current_user.bio %>
          </p>
        </div>
      </div>
    </div>
  </div>
