<div class="card-container">
  <div class="profile text-center">
    <div class="main">
      <div class="main-content">
        <% if user.photo.present? %>
          <%= image_tag user.photo.url(:bright_face), class: "avatar" %>
        <% else %>
          <div class="avatar-placeholder-navbar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown">
            <h1>
              <%= user.email.first.upcase %>
            </h1>
          </div>
        <% end %>
        <h2><%= user.first_name %> <%= user.last_name %></h2>
        <p><%= user.email %></p>
        <p><%= user.date_of_birth %></p>
        <%= link_to 'Update', edit_user_path(current_user.id), remote: true, class: "next-button"%>
 <!--        <a href="#" class="next-button">Get in touch</a> -->
      </div>
    </div>
    <% user.interests.each do |interest| %>
      <div class="card" style="background-image: url( <%=image_path(interest.photo)%>); background-size: cover">
        <div class="card-content">
          <h3><%= interest.area %></h3>
          <p><%= interest.variant %></p>
        </div>
      </div>
    <% end %>
    <div class="description">
      <div class="description-content">
        <h3>More about <%= user.first_name %> <%= user.last_name %></h3>
        <p class="text-justify">
          <%= user.bio %>
        </p>
      </div>
    </div>
  </div>
  <div id="myModal"></div>
</div>
