<div id="event-form-form">
<%= simple_form_for(@event) do |f| %>
<%= f.input :title, placeholder: "Title", label: false, class: "event" %>
<%= f.input :start, as: :string, required: false, input_html: {class: "datepicker"} %>
<%= f.input :end, as: :string, required: false, input_html: {class: "datepicker"}  %>
<%= f.input :description,  placeholder: "Description", label: false, class: "event" %>
<%= f.input :location, placeholder: "Location", linline_label: 'Where do we meet?', label: false, class: "event" %>
<%= f.input :participants, collection: @users, input_html: { class: "select2-mulitple-guest", multiple: "multiple" }, label_method: :email, value_method: :id %>
<%= f.button :submit, value= "Create Event", class: "next-button" %>
<% end %>
</div>
