<div class="container" style="margin: 100px;">
<%= simple_form_for(@event, remote: true) do |f| %>
<%= f.input :title %>
<%= f.input :start, as: :datetime, html5: true %>
<%= f.input :end, as: :datetime, html5: true  %>
<%= f.input :description, inline_label: 'What are we going to do?'%>
<%= f.input :location, inline_label: 'What are we going to do?'%>
<%= f.button :submit, class:"btn-s"%>
<% end %>
</div>
