<div class="container" style="margin: 100px;">
  <%= simple_form_for(@event) do |f| %>
    <%= f.input :title %>
    <%= f.input :start, as: :datetime, html5: true %>
    <%= f.input :end, as: :datetime, html5: true  %>
    <%= f.input :description, label: 'What are we going to do?'%>
    <%= f.input :location, label: 'Where do we meet?'%>
    <%= f.input :participants, collection: @users, input_html: { class: "select2-mulitple-guest", multiple: "multiple" }, label_method: :email, value_method: :id %>
  <%= f.button :submit, class:"btn-s", id: "submit" %>
  <% end %>
</div>
